<%= form_for(@pict) do |f| %>
  <% if @pict.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pict.errors.count, "error") %> prohibited this pict from being saved:</h2>

      <ul>
      <% @pict.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :photo %><br>
  <%= f.file_field :photo%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
