<h1>Mes Images</h1>

<!-- <table> -->
<!--   <thead> -->
<!--     <tr> -->
<!--       <th>Photo</th> -->
<!--       <th colspan="3"></th> -->
<!--     </tr> -->
<!--   </thead> -->
<%= link_to 'New Pict', new_pict_path,:class => "add" %>
<div class="corps">

<%= will_paginate @picts %>

    <% @picts.each do |pict| %>
<div class="thumbnails" style="background:url( '<%=pict.photo.url(:small)%>') no-repeat scroll center center rgba(0, 0, 0, 0.1)";>
  <%= link_to '', pict,:class =>"show" %>
   <!--  <div class="bouton destroy"><%= link_to 'X', pict, method: :delete, data: { confirm: 'Are you sure?' }%></div> -->
    <div class="bouton link"><%=link_to "taille réelle", pict.photo.url%><%=link_to "taille moyenne", pict.photo.url(:middle)%><%=link_to "taille small", pict.photo.url(:small)%></div>
   <!-- <%= link_to 'Edit', edit_pict_path(pict)  %></div> -->


</div>

<!--       <tr> -->
<!--         <td><%= image_tag pict.photo.url(:small) if pict.photo? %></td> -->

<!--         <td><%= link_to 'Show', pict %></td> -->
<!--         <td><%= link_to 'Edit', edit_pict_path(pict) %></td> -->
<!--         <td><%= link_to 'Destroy', pict, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
<!--       </tr> -->
 <% end %> 
<!--   </tbody> -->
<!-- </table> -->
</div>

