<p id="notice"><%= notice %></p>

<p>
  <strong>Photo:</strong>
<%= image_tag @pict.photo.url %>


</p>

<%= link_to 'Edit', edit_pict_path(@pict) %> 
<%= link_to 'Back', picts_path %>
<%= link_to 'Destroy', @pict, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"destroy" %>
