
@font-face {
    font-family: 'JosefinSans-Regular';
    src: url('/assets/fonts/Josefin_Sans/JosefinSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
    background-color: #F0F0F0 !important;
    color: #535353;
    font-family: Georgia,Cambria,Times,serif;
    margin: 0 auto;
    font-family: "JosefinSans-Regular" !important;
}
.corps {
    text-align: center;
}

.thumbnails {
    display: inline-block;
    width: 300px; 
    height: 300px;
    margin: 6px;
    z-index: 0;
    position:relative;
    border-radius: 10px;
}
a {
    background-color:rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    padding: 4px;
    color: #fff !important;
    text-decoration: none;
    font-family: "JosefinSans-Bold";
    margin: 2px;
}


a:hover {
   background-color:rgba(0, 0, 0, 0.4) !important;
}

.bouton {
    padding : 5px;
    position:absolute;

}
.destroy {
    right:0;
    top: 0;
}
.link{
    bottom: 0;
    width: 100%
}
a.destroy {
    background-color:rgba(255, 0, 0, 0.6);
}


a:hover.destroy {
   background-color:rgba(255, 0, 0, 0.4) !important;
}
a.show{
    background-color:rgba(0, 0, 0, 0);
    display: block;
    width: 300px;
    height:300px;
    border-radius: 0px;
    padding: 0px;
    margin: 0px;

}

a:hover.show{
   background-color:rgba(0, 0, 0, 0.1) !important;
   border-radius: 10px;
}
a.add{
    background-color:rgba(75, 213, 98, 1) !important;
}

a:hover.add{
    background-color:rgba(75, 213, 98, 0.8) !important;
}

h1 {
    color: #F0F0F0;
    background-color:rgba(0, 0, 0, 0.6);
    font-size: 60px;
    text-align:right;
    font-family: "JosefinSans-Regular";
    padding-bottom: 6px;
    padding-top: 22px;
}

.pagination {
    text-align: center;
    margin-bottom: 15px;
    font-size: 15px;
    font-family: "JosefinSans-Regular";
    transition: background 300ms ease 0s;
    border: medium none #D2B48C;

}

.pagination a {
    background-color:rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    padding: 4px;
    color: #fff !important;
    text-decoration: none;
    font-family: "JosefinSans-Bold";
}

.pagination a:hover {
   background-color:rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    padding: 4px;

}

.pagination .current {
    border-radius: 4px;
    padding: 4px;
    color: #fff !important;
    background: #33a0e6 !important;
}
.pagination .disabled {
    border-radius: 4px;
    padding: 4px;
    color: #fff !important;
    background-color:rgba(0, 0, 0, 0.2);
}
